<div class="row">
    <div class="col-8">
        <h3>List of Employee</h3>
    </div>
    <div class="col-4">
        <button [routerLink]="['/employee/create']" class="btn btn-outline-success" type="submit">Create New</button>
    </div>
</div>
<div class="row">
    <table datatable class="row-border hover table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="employees?.length != 0">
            <tr *ngFor="let emp of employees">
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.position }}</td>
                <td width="15%">
                    <a [routerLink]="['/employee/edit/', emp.id]" style="color: green;"><i class="fas fa-edit p-1"
                            aria-hidden="true"></i></a>
                    <a (click)="delete(emp.id)" style="color: red;"><i class="fas fa-trash p-1"
                            aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="employees?.length == 0">
            <tr>
                <td colspan="3" class="no-data-available">No data!</td>
            </tr>
        </tbody>
    </table>
</div>