<div class="row">
    <div class="col-4">
        <h3>Edit Enterprise</h3>
    </div>
</div>
<div class="row">
    <form [formGroup]="form" (ngSubmit)="update()">
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
            </div>
            <div class="mb-3">
                <button [disabled]="form.invalid" type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update</button>
                <button [routerLink]="['/enterprise']" class="btn btn-outline-success m-2" type="submit"><i class="fas fa-arrow-left"></i> Back</button>
            </div>
        </div>
    </form>
</div>